@import url('https://fonts.googleapis.com/css2?family=Jersey+15&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jersey+15&family=Kalam:wght@300;400;700&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
* {
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: "Kalam", cursive;
}

h1 {
    background-color: black;
    color: aliceblue;
    font-family: "Jersey 15", sans-serif;
    font-size: max(5vw,40px);
}

img {
    width: 100%;
    border-radius: 50%;
}

.main-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10rem;
    margin-top: 2rem;
}

.choice {
    height: 160px;
    width: 160px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
    transition: 0.2s ease;
}
.rotate {
    width: 90%;
    height: 90%;
    background-color: #4158D0;
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
    position: absolute;
    border-radius: 50%;
    z-index: -1;
    border: 5px solid linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s ease;
}
.innerrotate {
    width: 100%;
    height: 50%;
    background-color: white;
}

.choice:active {
    scale: 0.95;
}

.choice:hover .rotate {
    width: 108%;
    height: 108%;
    animation: rotateit 5s infinite linear;
}

.score-board {
    align-items: center;
    justify-content: center;
    display: flex;
    gap: 5rem;
    margin-top: 100px;
}

p {
    font-size: max(3vw,30px);
}

#msg {
    background-color: black;
    color: aliceblue;
    display: inline;
    margin-top: 5rem;
    border-radius: 20px;
    padding: 5px 10px;
}

.msg-container {
    margin-top: 5rem;
}

@media (max-width: 900px){
    .main-container {
        gap: 50px;
    }
    .choice {
        height: 120px;
        width: 120px;
    }
}
@media (max-width: 600px){
    .main-container {
        gap: 20px;
    }
    .choice {
        height: 90px;
        width: 90px;

    }
}

@keyframes rotateit {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(360deg);
    }
}